@charset "UTF-8";

//Gemaakt met Font Squirrel generator
//https://www.fontsquirrel.com/tools/webfont-generator

/* Font Import */
@font-face {
  font-family: 'thor_ragnarokregular';
  src: url('../fonts/thor_ragnarok-webfont.woff2') format('woff2'),
    url('../fonts/thor_ragnarok-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}